<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS-Home</title>
    <link rel="stylesheet" href="//localhost:3000/stylesheets/style.css">
</head>

<body class="flex">
    <header>
        <nav>
            <div id="logo">
                <img src="//localhost:3000/images/nitc.png" alt="">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <% if(session.user_type) { %>
                    <li>
                        <a href="/logout" class="btn btn-primary">Logout</a>
                    </li>


                    <% } else { %>
                        <li><a href="/login">Log in</a></li>
                        <% } %>
            </ul>
        </nav>
        <h1 id="head">Election Management System</h1>
    </header>
    <main>
        <div class="center">
            <h2>EC Home</h2>
            <p><%=JSON.stringify(session) %></p>
            <p>
                <% if(messages) { %> 
                    <script>
                        var msgs = JSON.parse('<%- JSON.stringify(messages) %>')
                    </script>
                    <%= JSON.stringify(messages) %> 
                    <%= JSON.stringify(election) %> 
                    <% } %> 
            </p>
        </div>
        <div class="center">
            <a href="ec/add_candidate">
                <div class="container2" type="button">
                    <div class="title">
                        ADD Candidate
                    </div>  
                    <div class="desc">
                        fdv f
                    </div>
                </div>
            </a>
            <a href="ec/remove_candidate">
                <div class="container2">
                    <div class="title">
                        REMOVE Candidate
                    </div>
                    <div class="desc">
                        fdv f
                    </div>
                </div>
            </a>
            <a href="ec/publish_result">
                <div class="container2">
                    <div class="title">
                        PUBLISH results
                    </div>
                    <div class="desc">
                        fdv f
                    </div>
                </div>
            </a>
            <a href="result">
                <div class="container2">
                    <div class="title">
                        VIEW results
                    </div>
                    <div class="desc">
                        fdv f
                    </div>
                </div>
            </a>
        </div>
    </main>
</body>

</html>