<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS-Home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="javascripts/myscript.js"></script>
</head>

<body class="flex">
    <header>
        <nav>
            <div id="logo">
                <img src="images/nitc.png" alt="">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <% if(session.user_type) { %>
                <li>
                    <a href="/logout" class="btn btn-primary">Logout</a>
                </li>


                <% } else { %>
                    <li><a href="/login">Log in</a></li>
                <% } %>
            </ul>
        </nav>
        <h1 id="head">Election Management System</h1>
    </header>
    <main>
        <div class="center">
            <h2>Election starts on 
                <%= election.Start_time.toLocaleString("en-US",{ year: 'numeric', month: 'long', day: 'numeric' })  %> 
                and ends on 
                <%= election.End_time.toLocaleString("en-US",{ year: 'numeric', month: 'long', day: 'numeric' })  %> 
            </h2>

                <% if(messages) { %> 
                    <script>
                        var msgs = JSON.parse('<%- JSON.stringify(messages) %>')
                        console.log(msgs)
                        console.log('messages above');
                        msgs.forEach(element => {
                            window.alert(element.text)
                        });
                    </script>
                    <% } %> 

        </div>
    </main>
</body>

</html>