<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS-Home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body class="flex">
    <header>
        <nav>
            <div id="logo">
                <img src="images/nitc.png" alt="">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <% if(session.user_type) { %>
                    <li>
                        <a href="/logout" class="btn btn-primary">Logout</a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/login">Log in</a>
                    </li>
                <% } %>
            </ul>
        </nav>
        <h1 id="head">Election Management System</h1>
    </header>
    <main>
        <div class="center">
            <h3 style="font-size: 2rem">Choose the post you wish to vote for!</h3>
            <p>
                <% if(messages) { %>
                    <script>
                        var msgs = JSON.parse('<%- JSON.stringify(messages) %>')
                    </script>
                    <%= JSON.stringify(messages) %>
                            <% } %>
            </p>
        </div>
        <div style="text-align: center; margin-top:20px">
            <form action="/voter" method="post">
                <select name="post" id="post">
                    <% 
                        for (var i = 0; i< posts.length; i++){
                            %>
                            <option value="<%=posts[i].Id %>"><%=posts[i].Name %></option>
                            <%
                        }    
                    %>
                </select>
                <button type="submit">submit</button>
            </form>
        </div>
    </main>
</body>

</html>